.listHeading {
  position: relative;
  left: 90px;
}
.noWriting {
  position: relative;
  text-align: center;
}
.listWritings {
  margin: 30px 90px;
}

.listItem {
  display: flex;
  gap: 30px;
  margin-top: 10px;
  margin-bottom: 50px;
  align-items: center;
}

.listItemImage {
  margin-left: 1px;
  border-radius: 2%;
  width: 335px;
  height: 250px;
  object-fit: cover;
}

.listItemText {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.listItemDetail {
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.authorDateContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.listItemDetail img {
  border: 2px solid var(--gold);
  border-radius: 50%;
  height: 50px;
  width: 50px;
  object-fit: cover;
}

.authorDateInfo {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.listItemCategories {
  display: flex;
  gap: 10px;
  font-size: 1.25rem;
}

.listItemCategory {
  padding: 5px;
  margin-top: 10px;
  border-radius: 5px;
  color: var(--textSoft);
  background-color: var(--bgSoft);
  /* text-shadow: 1px 1px gold; */
}

.author {
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}

/* pagination style */
.pagination {
  display: flex;
  gap: 10px;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 1.2rem;
}

.page-item {
  border: 1px solid var(--border);
  width: 25px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.page-item.active {
  background-color: var(--text);
  color: var(--bg);
}

.page-item.disabled {
  background-color: var(--bgSoft); 
  cursor: not-allowed;
}

/* end pagination style */

@media (max-width: 811px) {
  .listWritings{
    margin: 30px 0px;
  }
}

@media (max-width: 768px) {
  .listItem {
    display: block;
  }
  .listItemImage {
    border-radius: 0%;
  }
}
